<?xml version='1.1' encoding='UTF-8'?>
<flow-definition plugin="workflow-job@1174.1176.va_29023983d67">
  <actions>
    <org.jenkinsci.plugins.pipeline.modeldefinition.actions.DeclarativeJobAction plugin="pipeline-model-definition@2.2064.v5eef7d0982b_e"/>
    <org.jenkinsci.plugins.pipeline.modeldefinition.actions.DeclarativeJobPropertyTrackerAction plugin="pipeline-model-definition@2.2064.v5eef7d0982b_e">
      <jobProperties/>
      <triggers/>
      <parameters/>
      <options/>
    </org.jenkinsci.plugins.pipeline.modeldefinition.actions.DeclarativeJobPropertyTrackerAction>
  </actions>
  <description></description>
  <keepDependencies>false</keepDependencies>
  <properties>
    <com.coravy.hudson.plugins.github.GithubProjectProperty plugin="github@1.36.1">
      <projectUrl>https://github.com/sunilkumarksk/simplejavaapp/</projectUrl>
      <displayName></displayName>
    </com.coravy.hudson.plugins.github.GithubProjectProperty>
    <org.jenkinsci.plugins.workflow.job.properties.PipelineTriggersJobProperty>
      <triggers>
        <com.cloudbees.jenkins.GitHubPushTrigger plugin="github@1.36.1">
          <spec></spec>
        </com.cloudbees.jenkins.GitHubPushTrigger>
      </triggers>
    </org.jenkinsci.plugins.workflow.job.properties.PipelineTriggersJobProperty>
  </properties>
  <definition class="org.jenkinsci.plugins.workflow.cps.CpsFlowDefinition" plugin="workflow-cps@3601.v9b_36a_d99e1cc">
    <script>pipeline {
  agent any

  stages {
    stage(&apos;Checkout&apos;) {
      steps {
        git branch: &apos;main&apos;, credentialsId: &apos;githubid&apos;, url: &apos;https://github.com/sunilkumarksk/simplejavaapp.git&apos;
      }
    }
    stage(&apos;sonarqube&apos;) {
      steps {
        withSonarQubeEnv(&apos;sonarqube-7.6&apos;) {
          sh &apos;mvn sonar:sonar&apos;
        }
      }
    }
    stage(&quot;Quality Gate&quot;) {
      steps {
        timeout(time: 5, unit: &apos;MINUTES&apos;) {
          waitForQualityGate abortPipeline: true
        }
      }
    }
    stage(&quot;Build&quot;) {
      steps {
        sh &apos;rm -f *.war&apos;
        sh &apos;mvn clean install&apos;
        sh &apos;mvn deploy&apos;
      }
    }
    stage(&quot;App Deploy&quot;) {
      steps {
          script {
               def logContent = Jenkins.getInstance()
               .getItemByFullName(env.JOB_NAME)
               .getBuildByNumber(
                   Integer.parseInt(env.BUILD_NUMBER))
                   .logFile.text
// copy the log in the job&apos;s own workspace
                writeFile file: &quot;buildlog.txt&quot;, text: logContent

              sh &apos;match=$(cat buildlog.txt | grep &quot;Uploaded: http://localhost:8081/artifactory/libs-snapshot-local/org/cloudifysource/examples/java-hello-world-webapp/[0-9].[0-9]-SNAPSHOT/java-hello-world-webapp-[0-9].[0-9]-.*.war&quot;); url=($match); sudo wget ${url[6]};&apos;
              //sh &apos;url=($match)&apos;
              //sh &apos;wget ${url[1]}&apos;
              sh &apos;sudo cp *.war /home/sunilkumark1994/sunil/tomcat/apache-tomcat-8.5.78/webapps/&apos;
              sh &apos;rm *.war&apos;
          }

             // script{
               //         sh &apos;echo Insidescripts&apos;
                        
//                    def logContent = Jenkins.getInstance().getItemByFullName(env.JOB_NAME).getBuildByNumber(Integer.parseInt(env.BUILD_NUMBER)).logFile.text
            //        cat logContent | grep &apos;Uploaded: http://localhost:8081/artifactory/libs-snapshot-local/org/cloudifysource/examples/java-hello-world-webapp/[0-9].[0-9]-SNAPSHOT/java-hello-world-webapp-[0-9].[0-9]-.*.war&apos;

 //                  manager.getLogMatcher(&apos;Uploaded: http://localhost:8081/artifactory/libs-snapshot-local/org/cloudifysource/examples/java-hello-world-webapp/[0-9].[0-9]-SNAPSHOT/java-hello-world-webapp-[0-9].[0-9]-.*.war&apos;)
//}
//          sh &apos;sudo chmod -R 777 /home/sunilkumark1994/sunil/tomcat/apache-tomcat-8.5.78/webapps&apos;
//                sh &apos;sudo cp ./target/java-hello-world.war /home/sunilkumark1994/sunil/tomcat/apache-tomcat-8.5.78/webapps/&apos;
      }
   }

  }
}</script>
    <sandbox>true</sandbox>
  </definition>
  <triggers/>
  <disabled>false</disabled>
</flow-definition>